.div_menu{
  background-color: black;
  font-size: 20px;
}
.footer{
  text-align: center;
  color: #fff;
  padding: 0px;
  background: black;
}
.bg{
  background-color: #d3d3d3;
}
.p1{
  height: 200px;
  column-width: 300px;
  column-fill: balance;
  column-rule: 5px double black;
  text-align: justify;
  font-size: 9pt;
}
.p2{
  height: 200px;
  column-width: 300px;
  column-fill: balance;
  column-rule: 5px double black;
  text-align: justify;
  font-size: 9pt;
}
.p3{
  height: 200px;
  column-width: 300px;
  column-fill: balance;
  column-rule: 5px double black;
  text-align: justify;
  font-size: 9pt;
}
